form.checkout{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-top: 20px;
    background-color: #e1dfdf90;
    padding: 30px;

}

form.checkout label{
    font-size: 14.5px;
    margin-bottom: 3px;
}

form.checkout input{
    margin-bottom: 15px;
    border-radius: 3px;
    border: 0 !important;
    background-color: #ffffff;
    padding: 5px 10px;
}

form.checkout input:focus{
    outline: solid 1px #efaf56 !important;
}


form.checkout button{
    background-color: #009566 !important;
    border: solid 1px #009566 !important;
    margin-top: 20px;
    max-width: fit-content;
}

form.checkout button:hover{
    background-color: #00956690 !important;
    color: #ffffff !important;
}



